//VARIABLES

@color_1: #e94f37;
@color_2: #3f88c5;
@color_3: #44bba4;

@bg-color: #f6f7eb;
@font-color: #393e41;
@border: #9A9DA0;

// @color_1: #E83556; //pink
// @color_2: #61D0D4; //blue
// @color_3: #D1C926; //green
//
// @bg-color: #EAE5E5; //beige grey

//HOME
body{
  background-color: @bg-color;
}

*{
  font-family: Palatino;
}

a{
  color: @color_3;
}
a:hover{
  color: @color_3;
}

h1, h2, h4, h6, p{
  color: @font-color;
}

h6{
  font-weight: bold;
}


.navbar{
  margin-top: 30px;
  a{
    font-size: 18px;
    transition: 0.3s;
  }
  a:hover{
    color: @color_2 !important;
  }
  .active{
    font-weight: bold;
  }
  .navbar-brand{
    font-size: 28px;
  }
}

html{
   margin:0;
   padding:0;
   height:100%;
}

body{
   min-height:100%;
   position:relative;
}

// @media only screen and (max-width: 600px){
//   .main-body{
//     padding-bottom: 1000px;
//   }
//   footer{
//     background-color: pink;
//   }
// }


@media only screen and (max-width: 600px) {
  body {
    padding-bottom: 300px;
  }
}

.main-body{
  margin-top: 40px;
  padding-bottom: 100px;
  .icon{
    img{
      float: right;
      width: 350px;
      max-width: 100%;
      border-radius: 50%;
    }
  }
  .about-me{
    .main-text{
      z-index: -1;
    }
    .home-circles{
      margin-bottom: 20px;
      .projects{
        background-color: @color_1;
      }
      .resume{
        background-color: @color_2;
      }
      .contact{
        background-color: @color_3;
      }
      .circle-link{
        display: table;
        margin: 0px 10px 20px;
        //float: left;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        text-align: center;
        color: white;
        font-weight: bold;
        transition: 0.3s;
        a{
          text-decoration: none;
          color: white;
          display: table-cell;
          vertical-align: middle;
        }
      }
      .circle-link:hover{
        box-shadow: inset 0 0 150px 150px rgba(0, 0, 0, 0.2);
      }
    }
  }
}


// PROJECTS
.project{
  .project-pic{
    display: block;
    margin: 10px auto;
    max-width: 100%;
    img{
      height: auto;
      max-width: 100%;
    }
  }
}

//RESUME
.left-col{
  .cv-section{
    padding: 20px;
    .circle{
      display: table;
      float: left;
      width: 150px;
      max-width: 150px;
      height: 150px;
      border-radius: 50%;
      text-align: center;
      color: white;
      font-weight: bold;
      transition: 0.3s;
      background-color: @color_3;
      span{
        display: table-cell;
        vertical-align: middle;
      }
    }
    .circle:hover{
      box-shadow: inset 0 0 150px 150px rgba(0, 0, 0, 0.2);
    }
    .top-section{
      padding-top: 30px;
      border-bottom: solid 1px @border;
    }
    .final-section{
      padding-bottom: 20px;
      border-bottom: solid 1px @border;
    }
  }
}

.right-col{
  .right-section{
    h4, h5{
      text-align: center;
    }
    .circle{
      display: table;
      margin: 5px auto;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      text-align: center;
      color: white;
      font-weight: bold;
      transition: 0.3s;
      background-color: @color_2;
      i{
        display: table-cell;
        vertical-align: middle;
      }
    }
    .circle:hover{
      box-shadow: inset 0 0 150px 150px rgba(0, 0, 0, 0.2);
    }
    ul{
      list-style: none;
    }
  }
}



//FOOTER
footer{
  margin-top: 50px;
  background-color: @color_1;
  color: white;
  padding: 20px;

  position:absolute;
  bottom:0;
  width:100%;
  min-height:100px;   /* Height of the footer */

  .footer-text{
    margin-left: 10px;
    span{
      transition: 0.3s;
    }
    span:hover{
      color: @color_2;
    }
    p{
      margin-bottom: 5px;
      color: white;
    }
    a{
      text-decoration: none;
      color: inherit;
      transition: 0.3s;
    }
    a:hover{
      color: @color_2;
    }
  }
  .icon{
    float: right;
    padding-top: 10px;
    font-size: 30px;
  }
  .contact-icon{
    padding-right: 5px;
    font-size: 30px;
  }
}
